@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
:root{
    --primario : #2196f3;
    --secundario: #0075A0;
    --medio: #0075A0;
    --darksecundario: #00425F;
    --darkprimario: #001B2B;
    --blanco:#ffffff;
}
html{
    /* font-size: 62.5%; */
    margin: 0%;
}
body{
    /* font-size: 16px; */
    font-family: 'Krub', sans-serif;
}
/*botones*/
.btn-primary{
    background-color: #00425F;
    color: #ffffff;
}
.btn-primary:hover{
    background-color: #001B2B;
}
.btn-primary:focus{
    background-color: #001B2B;
}

.page-login{
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
}
.row-login{
    align-items: center;
    background-color: #2196f3;
    flex: 1.5;
    padding: 0rem 0rem;
}
.row-img{
    display: flex;
    flex:2;

}
.img-login{
    margin: auto;
    height: 90vh;
}
.text-login{
    font-family: 'Titan One';
    color: #ffffff;
    text-align: center;
    margin:2rem 0rem 4rem 0rem;
}
p.text-login{
    margin-top: 2rem;
}
.form-login{
    height:100vh;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.container-form{
    display: flex;
    background-color: #ffffff;
    border-radius: 33px;
    width: 80%;
    margin-top: 4rem;
}
i{color: #ffffff;}
i.far.fa-envelope, i.fas.fa-key {
    padding: 1rem;
    color: gray;
}
.input-login{
    border: none;
    background-color: rgba(0,0,0,0);  
    width: 100%;
}
input::placeholder{
    color: gray;
}
input:focus{
    outline: none;
    border-color: #00425F;
}
.sign-in{
    font-family: 'Titan One';
    padding: 1rem 3rem ;
    background-color: #ffffff;
    border-radius: 33px;
    border: none;
    color: #2196f3;
}
/*panel*/
#chartbar {
    width: 100%;
    height: 500px;
  }
  #chartpie {
    width: 100%;
    height: 500px;
  }
/*sombra tarjetas*/
  .tarjeta-sombra
  {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 9px 5px 10px -5px rgba(0,0,0,0.47); 
    box-shadow: 9px 5px 10px -5px rgba(0,0,0,0.47);
}
/*roles*/

.inp-bottom-line-lg{
    width: 100%;
    border: none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
}
.inp-bottom-line{
    border: none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 1s 0.1s ease; 
    text-indent: -100%;
    opacity: 1;
 }
 th.tbutton{
    width: 100px;
 }
 /*asignaciones*/
 .container-assignment{
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
 }
 .box{
     height: 15rem;
     width: 42%;
     border:1px solid #dfdfdf;
     border-radius: 0.30rem;
     overflow-y: scroll;
     scroll-behavior: smooth
 }
 .list-buttons{
    display: flex;
    width: 5%;
    flex-direction: column;
    justify-content: space-evenly;
 }
 .box .list-group .list-group-item{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
 }
/*informes*/
.visor-pdf{
    width: 100%;
    height: 85vh;
}

i.fa-file-upload{
    display:flex;
    justify-content: center;
    color: gray;
    font-size: 7rem;
}
p.tsubir{
    text-align: center;
    margin: 1rem;
    color: gray;
    
}